@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&family=Tilt+Neon&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
}

.container {
    margin: 0 auto;
    width: 80vw;
    height: 100%;

    display: flex;
}

.header {
    width: 100%;
    height: 85px;
    line-height: 85px;
    background-color: #0C0F1A;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    color: rgb(245, 245, 245);
}

.header .logo {
    font-size: 32px;   
    font-weight: bold;
    user-select: none;
}

.header .line-separator {
    margin: auto 30px;
    height: 40px;
    border-left: 1px solid rgb(245, 245, 245);
}

.header .header-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header .header-buttons .button {
    padding-left: 20px;
    padding-right: 20px;    
    font-size: 22px;
    color: rgb(245, 245, 245);
    text-decoration: none;
    user-select: none;
}

#menu-button {
    display: none;
}

#dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 79px;
    height: fit-content;
    background-color: #0C0F1A;
    display: none;
    flex-direction: column;
}

#dropdown-menu .dropdown-button {
    height: 60px;
    line-height: 60px;
    color: rgb(245, 245, 245);
    border-top: 2px dashed rgb(245, 245, 245);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.header .header-buttons .button:hover {
    cursor: pointer;
    color: rgb(215, 215, 215);
}

.header .header-buttons .button:active {
    color: rgb(190, 190, 190);
}

#dropdown-menu .dropdown-button:hover {
    cursor: pointer;
    color: rgb(215, 215, 215);
} 

/* Main */
.main {
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
    background-color: rgb(230, 230, 230);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(10, 10, 10);
}

.main h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 45px;
}

@media screen and (min-width: 1280px) {
    .main .project-box {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        height: fit-content;
        background-color: rgb(245, 245, 245);
        border: 1px solid lightgray;
        display: flex;
        text-decoration: none;
    }

    .main .project-box:hover {
        background-color: rgb(240, 240, 240);
        box-shadow: 0 3px 10px rgb(235, 235, 235);
    }

    .main .project-box .content {
        width: 100%;
        height: fit-content;
        padding: 30px 30px;
        display: flex;
    }

    .main .project-box .content .image-box {
        height: 100%;
        width: 400px;
        display: flex;
        flex: 0 1 auto;
    }

    .main .project-box .content .image-box .thumbnail {
        width: 100%;
        object-fit: cover;
        display: flex;
    }

    .main .project-box .content .text {
        margin-left: 20px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .text .title {
        font-size: 30px;
        font-weight: 700;
        color: rgb(10, 10, 10);
    }
    
    .main .project-box .content .text .description {
        flex: 1 0 auto;
        padding: 5px 0;
    }

    .main .project-box .content .text .description p {
        margin: 5px 0;
        font-size: 18px;
        color: #383838;
    }

    .main .project-box .content .text .details {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: rgb(10, 10, 10);
    }

    .title, .description, .details {
        width: 100%;
    }

    .main .project-box .content .text .details p {
        font-weight: 700;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .container {
        width: 95vw;
    }

    .main .project-box {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        height: fit-content;
        background-color: rgb(245, 245, 245);
        border: 1px solid lightgray;
        display: flex;
        text-decoration: none;
    }

    .main .project-box:hover {
        background-color: rgb(240, 240, 240);
        box-shadow: 0 3px 10px rgb(235, 235, 235);
    }

    .main .project-box .content {
        width: 100%;
        height: fit-content;
        padding: 30px 30px;
        display: flex;
    }

    .main .project-box .content .image-box {
        height: 100%;
        width: 400px;
        display: flex;
        flex: 0 1 auto;
    }

    .main .project-box .content .image-box .thumbnail {
        width: 100%;
        object-fit: cover;
        display: flex;
    }

    .main .project-box .content .text {
        margin-left: 20px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .text .title {
        font-size: 30px;
        font-weight: 700;
        color: rgb(10, 10, 10);
    }
    
    .main .project-box .content .text .description {
        flex: 1 0 auto;
        padding: 5px 0;
    }

    .main .project-box .content .text .description p {
        margin-bottom: 10px;

        font-size: 16px;
        color: #383838;
    }

    .main .project-box .content .text .details {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        color: rgb(10, 10, 10);
    }

    .title, .description, .details {
        width: 100%;
    }

    .main .project-box .content .text .details p {
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 95vw;
    }

    .main .project-box {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        height: fit-content;
        background-color: rgb(245, 245, 245);
        border: 1px solid lightgray;
        display: flex;
        text-decoration: none;
    }

    .main .project-box:hover {
        background-color: rgb(240, 240, 240);
        box-shadow: 0 3px 10px rgb(235, 235, 235);
    }

    .main .project-box .content {
        width: 100%;
        height: fit-content;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .image-box {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 0 1 auto;
    }

    .main .project-box .content .image-box .thumbnail {
        width: 100%;
        object-fit: cover;
        display: flex;
    }

    .main .project-box .content .text {
        margin-top: 10px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .text .title {
        font-size: 32px;
        font-weight: 700;
        color: rgb(10, 10, 10);
    }
    
    .main .project-box .content .text .description {
        flex: 1 0 auto;
        padding: 5px 0;
    }

    .main .project-box .content .text .description p {
        margin: 15px 0;
        font-size: 18px;
        color: #383838;
    }

    .main .project-box .content .text .details {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: rgb(10, 10, 10);
    }

    .title, .description, .details {
        width: 100%;
    }

    .main .project-box .content .text .details p {
        font-weight: 700;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .main h1 {
        font-size: 40px;
    }

    .container {
        width: 95vw;
    }

    .main .project-box {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        height: fit-content;
        background-color: rgb(245, 245, 245);
        border: 1px solid lightgray;
        display: flex;
        text-decoration: none;
    }

    .main .project-box:hover {
        background-color: rgb(240, 240, 240);
        box-shadow: 0 3px 10px rgb(235, 235, 235);
    }
    
    .main .project-box .content {
        width: 100%;
        height: fit-content;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .image-box {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 0 1 auto;
    }

    .main .project-box .content .image-box .thumbnail {
        width: 100%;
        object-fit: cover;
        display: flex;
    }

    .main .project-box .content .text {
        margin-top: 10px;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .main .project-box .content .text .title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        color: rgb(10, 10, 10);
    }
    
    .main .project-box .content .text .description {
        flex: 1 0 auto;
        padding: 5px 0;
    }

    .main .project-box .content .text .description p {
        margin: 15px 0;
        font-size: 15px;
        color: #383838;
    }

    .main .project-box .content .text .details {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: rgb(10, 10, 10);
    }

    .title, .description, .details {
        width: 100%;
    }

    .main .project-box .content .text .details p {
        font-weight: 700;
    }
}

@media screen and (max-width: 720px) {
    .header .header-buttons .button {
        display: none;
    }

    .header .line-separator {
        display: none;
    }

    .header .container {
        width: 80vw;
        justify-content: space-between;
    }

    #menu-button {
        display: flex;
        margin: auto 0; 
    }
}